#container {
    display:flex;
}
form {
    margin:1em auto;
}
#shape-Container{
    height: 602px;
    width: 600px;
    background-color: cadetblue;
    margin:3em auto;
    position:relative
}

#sidepannel{
    margin: 3em;
    padding: 0 1em;
    width: 400px;
    height: 600px;
    border: 1px solid black;
    position:absolute;
    right:10em;
}

#shapeboard{
    display: flex;
    position: relative;
}

.circle{
    background-color: purple;
    position:absolute;
}

.square{
    background-color: red;
    position: absolute;
}

.rectangle{
    background-color: green;
    position:absolute;
}

.triangle{
    position:absolute;
}